@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<BlazorKonva.KonvaRoot />

---

@* <CascadingValue TValue="string" Value="@("testc")" Name="TestCascade"> *@
<BlazorKonva.BlazorComponents.Stage Configs='new BlazorKonva.KonvaClasses.Stage.KonvaStageConfigsDTO(){Width = 300, Height = 300}'>
    <BlazorKonva.BlazorComponents.Layer Configs="new BlazorKonva.KonvaClasses.Layer.KonvaLayerConfigsDTO(){}">
        <BlazorKonva.BlazorComponents.Rect Configs='new BlazorKonva.KonvaClasses.Rect.KonvaRectConfigsDTO()
{
X = 0,
Y = 0,
Width = 100,
Height = 100,
Fill = "#00D2FF",
Stroke = "black",
StrokeWidth = 4,
Draggable = true
}'>

        </BlazorKonva.BlazorComponents.Rect>
    </BlazorKonva.BlazorComponents.Layer>
</BlazorKonva.BlazorComponents.Stage>
@* </CascadingValue> *@